@model IEnumerable<Baruk.Models.MCliente>

@if (Session["UserType"] != null)
{

    foreach (var p in Model)
    {
        if ((Session["UserName"]).Equals(p.UsuarioCliente.ToString()))
        {
            <div class="container body-content">
                <div class="card blue-grey lighten-1 white-text">
                    <div class="center">
                        <span class="card-title" style="font-size: 55px">Mi Perfil</span>
                    </div>
                    <div class="row" style="margin-top: 3%;">
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">person</i>
                                            </td>
                                            <td><span class="card-title">Nombre</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.Nombre
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">credit_card</i>
                                            </td>
                                            <td><span class="card-title">Cédula</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.Cedula
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">assignment_ind</i>
                                            </td>
                                            <td><span class="card-title">Usuario</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.UsuarioCliente
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">email</i>
                                            </td>
                                            <td> <span class="card-title">Email</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.Email
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">star</i>
                                            </td>
                                            <td> <span class="card-title">Tipo de Cliente</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.DescTipoClienteID
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <table>
                                        <tr>
                                            <td width="25px">
                                                <i class="small material-icons white-text">date_range</i>
                                            </td>
                                            <td><span class="card-title">Fecha de Inicio</span></td>
                                        </tr>
                                    </table>
                                    <p>
                                        @p.FechaInicio.ToString("MM/dd/yyyy")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
@if (Session["UserType"] == null | (Session["UserType"] != null && !(Session["UserType"].Equals("1") | Session["UserType"].Equals("2"))))
{
    Response.Redirect("~/Information/_Denied");
}
