<div class="row">
    <h2 class="header white-text">Ver Facturas</h2>
        <table class="blue-grey white-text" style=" border-collapse: separate; border-spacing: 5px 5px;">
            <thead>
                <tr>
                    <th>Número de Factura</th>
                    <th>Tipo Suscripción</th>
                    <th>Fecha Pago</th>
                    <th>Tipo Pago</th>
                    <th>Descuento</th>
                    <th>Tipo Mensualidad</th>
                    <th>Morosidad</th>
                    <th>Tipo Cliente</th>
                </tr>
            </thead>
            <tbody>
                @model List<Baruk.Models.Pago>
                @foreach (var p in Model)
                {
                    if (p.PagoID.ToString().Equals(Session["PaymentID"]))
                    {
                        <tr>
                            <td>@p.PagoID</td>
                            <td> @p.TipoSuscripcion</td>
                            <td>@p.FechaPago</td>
                            <td>@p.TipoPagoID</td>
                            <td>@p.DescuentoID</td>
                            <td>@p.TipoMensualidadID</td>
                            <td> @p.MorosidadID</td>
                            <td>@p.TipoClinteID</td>
                        </tr> 
                    }
                }
       
            </tbody>
        </table>
    </div>
