@if (Session["UserType"] == null)
{

    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand ">
                <img style="margin-top:0.5%; margin-left:2%" src="~/Public/img/logoSmall.png" title="logo" alt="logo" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 2%">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("¿Quiénes Somos?", "WhoAreWe", "Information")</li>
                <li>@Html.ActionLink("Galería", "Gallery", "Information")</li>
                <li>@Html.ActionLink("Contáctenos", "InformationForm", "Information")</li>
                <li><a href="@Url.Action("Login","Login/LogIn")" class="waves-effect waves-light btn">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="menu-responsive">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("¿Quiénes Somos?", "WhoAreWe", "Information")</li>
        <li>@Html.ActionLink("Galería", "Gallery", "Information")</li>
        <li>@Html.ActionLink("Contáctenos", "InformationForm", "Information")</li>
        <li><a href="@Url.Action("Login","Login/LogIn")" class="waves-effect waves-light btn">Iniciar Sesión</a></li>
    </ul>
}

@if (Session["UserType"] != null && Session["UserType"].Equals("1"))
{
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand ">
                <img style="margin-top:0.5%; margin-left:2%" src="~/Public/img/logoSmall.png" title="logo" alt="logo" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 2%">
                <li>@Html.ActionLink("Mi Perfil", "MyProfile", "Customer")</li>
                <li>@Html.ActionLink("Mis Facturas", "ViewInvoice", "Customer")</li>
                <li>@Html.ActionLink("Horarios", "Calendar", "Information")</li>
                <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="menu-responsive">
        <li>@Html.ActionLink("Mi Perfil", "MyProfile", "Customer")</li>
        <li>@Html.ActionLink("Mis Facturas", "ViewInvoice", "Customer")</li>
        <li>@Html.ActionLink("Horarios", "Calendar", "Information")</li>
        <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
    </ul>

}

@if (Session["UserType"] != null && Session["UserType"].Equals("2"))
{
    <nav class="light-blue darken-4">
        <div class="nav-wrapper">
            <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand ">
                <img style="margin-top:0.5%; margin-left:2%" src="~/Public/img/logoSmall.png" title="logo" alt="logo" />
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 2%">
                <li>@Html.ActionLink("Mi Perfil", "MyProfile", "Customer")</li>
                <li>@Html.ActionLink("Mis Facturas", "ViewInvoice", "Customer")</li>
                <li>@Html.ActionLink("Rutinas Disponibles", "AvailableRoutines", "Customer")</li>
                <li>@Html.ActionLink("Horarios", "Calendar", "Information")</li>
                <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="menu-responsive">
        <li>@Html.ActionLink("Mi Perfil", "MyProfile", "Customer")</li>
        <li>@Html.ActionLink("Mis Facturas", "ViewInvoice", "Customer")</li>
        <li>@Html.ActionLink("Rutinas Disponibles", "AvailableRoutines", "Customer")</li>
        <li>@Html.ActionLink("Horarios", "Calendar", "Information")</li>
        <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
    </ul>
}
@if (Session["UserType"] != null && Session["UserType"].Equals("Admin"))
    {
        <nav class="light-blue darken-4">
            <div class="nav-wrapper">
                <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand ">
                    <img style="margin-top:0.5%; margin-left:2%" src="~/Public/img/logoSmall.png" title="logo" alt="logo" />
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right: 2%">
                    <li>@Html.ActionLink("Crear Perfil", "NewCustomer", "Customer")</li>
                    <li>@Html.ActionLink("Modificar Membresia", "Membership", "Customer")</li>
                    <li>@Html.ActionLink("Crear Rutina", "NewRoutine", "Customer")</li>
                    <li>@Html.ActionLink("Agregar Factura", "NewInvoice", "Customer")</li>
                    <li>@Html.ActionLink("Facturas", "ViewInvoice", "Customer")</li>
                    <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="menu-responsive">
            <li>@Html.ActionLink("Crear Perfil", "NewCustomer", "Customer")</li>
            <li>@Html.ActionLink("Modificar Membresia", "Membership", "Customer")</li>
            <li>@Html.ActionLink("Crear Rutina", "NewRoutine", "Customer")</li>
            <li>@Html.ActionLink("Agregar Factura", "NewInvoice", "Customer")</li>
            <li>@Html.ActionLink("Facturas", "ViewInvoice", "Customer")</li>
            <li>@Html.ActionLink("Salir", "LogOut", "Login")</li>
        </ul>
    }